{% extends "base.html" %}

{% block content %}
    <h1>Add Corkboard</h1>
    <form action="" method="post" novalidate class="pure-form pure-form-aligned">
        {{ form.hidden_tag() }}
        <fieldset>
            <div class="pure-control-group">
                {{ form.title.label }}
                {{ form.title(size=60) }}
                {% for error in form.title.errors %}
                <span class="pure-form-message">{{ error }}</span>
                {% endfor %}
            </div>
            <!--<div class="pure-control-group">
                {{ form.category.label }}
                {{ form.category }}
            </div>-->
            <div class="pure-control-group">
                {{ form.is_private.label }}
                {{ form.is_private }}
            </div>
            <div class="pure-control-group">
                {{ form.password.label }}
                {{ form.password(size=32) }}
            </div>
            <div class="pure-control-group">
                 {{ form.submit(class_="pure-button pure-button-primary") }}
            </div>
        </fieldset>
    </form>
{% endblock %}