<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}  - Test</title>
    {% else %}
    <title>No title entered.</title>
    {% endif %}
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>
<body>

    <div class="pure-menu pure-menu-horizontal">
        {% if user %}
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="{{ url_for('index') }}" class="pure-menu-heading pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="{{ url_for('logout') }}" class="pure-menu-heading pure-menu-link">Logout</a></li>
        </ul>
        {% endif %}
    </div>

    <hr>
    <div class="pure-u-1-6"><p>&nbsp;</p></div>
    <div class="pure-u-2-3">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <div class="pure-u-1-6"><p>&nbsp;</p></div>
</body>
</html>