{% extends "base.html" %}

{% block content %}
    <table class="pure-table">
        <tbody>
            <tr>
                <td>
                    <h1>{{ corkboard.title }}</h1>
                    <h3>Owned By: {{ corkboard.owner_name }}</h3>
                </td>
                <td>
                    <h3>Last Updated: {{ corkboard.last_update }}</h3>
                    <h3>Category: {{ corkboard.category }}</h3>
                </td>
            </tr>
        </tbody>
    </table>
    <hr/>

    <h2>PushPins</h2>
    
    {% if permission %}
        <a href="{{ url_for('get_corkboard') }}/{{ corkboard_id }}/add_pushpin"><input type="button" value="Add Pushpin"></a><br/>
    {% endif %}

    {% for pushpin in pushpins %}
        <img class="pure-img" src="{{ pushpin.image_link }}" style="width:100px;height:300px;">
    {% endfor %}

    <hr/>
	<div>
        Number of Watchers: {{ corkboard.watcher_count }}
        {% if not permission %}
            <a href="{{ url_for('watch_corkboard') }}"><label><input type="button" value="Watch Corkboard"></label></a><br/>
        {% endif %}
    </div>
{% endblock %}