{% extends "base.html" %}

{% block content %}
    <div>
        <h1>{{ corkboard.title }}</h1>
        <h3>Owned By: {{ corkboard.owner_name }}</h3>
        <h3>Last Updated: {{ corkboard.last_update }}</h3>
        <h3>Category: {{ corkboard.category }}</h3>
    </div>
    <hr/>

    <h2>PushPins</h2>
    
    {% if permission %}
        <a href="{{ url_for('get_corkboard') }}/{{ corkboard_id }}/add_pushpin"><input type="button" value="Add Pushpin"></a><br/>
    {% endif %}

    {% for pushpin in pushpins %}
        <img class="pure-img" src="{{ pushpin.image_link }}" style="width:100px;height:300px;">
    {% endfor %}

    <hr/>
	<p>
        Number of Watchers: {{ corkboard.watcher_count }}
    </p>
{% endblock %}