{% extends "base.html" %}

{% block content %}
    <h1>Password For Private Corkboard</h1>
    <form action="" method="post" novalidate class="pure-form pure-form-aligned">
        {{ form.hidden_tag() }}
        <fieldset>
            <div class="pure-control-group">
                {{ form.pin.label }}
                {{ form.pin(size=32) }}
                {% for error in form.pin.errors %}
                <span class="pure-form-message">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="pure-control-group">
                 {{ form.submit(class_="pure-button pure-button-primary") }}
            </div>
        </fieldset>
    </form>
{% endblock %}