{% extends "base.html" %} {% block content %}
<h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>

<!-- Recent Updates -->
<div id="recent-updates">
	<div class="subhead-container">
		<span class="page-subhead">Recent Corkboard Updates</span>
		<a href="{{ url_for('get_popular_tags') }}"
			><input
				class="pure-button pure-button-primary"
				type="button"
				value="Popular Tags"
		/></a>
	</div>
	<hr />
	<div class="content-container">
		{% for update in updates %}
		<div class="corkboard-container">
			<h3 class="corkboard-title">
				<a href="{{ url_for('get_corkboard') }}/{{ update.id }}">
					{{ update.title }}
				</a>
				{% if update.is_private == '1' %}
				<span class="private-corkboard">Private</span> {% endif %}
			</h3>
			Updated by <b>{{ update.name }}</b> on
			<b>{{ update.most_recent_update }}</b>
		</div>
		{% endfor %}
	</div>
</div>

<!-- My Corkboards -->
<div id="my-corkboards">
	<div class="subhead-container">
		<span class="page-subhead">My Corkboards</span>
		<a href="{{ url_for('add_corkboard') }}"
			><input
				class="pure-button pure-button-primary"
				type="button"
				value="Add Corkboard"
		/></a>
	</div>
	<hr />
	<div class="content-container">
		{% for corkboard in corkboards %}
		<div class="corkboard-container">
			<h3 class="corkboard-title">
				<a href="{{ url_for('get_corkboard') }}/{{ corkboard.id }}">
					{{ corkboard.title }}
				</a>
				{% if corkboard.is_private == '1' %}
				<span class="private-corkboard">Private</span> {% endif %}
			</h3>
			({{ corkboard.pushpin_count }} Pushpins)
		</div>
		{% endfor %}
	</div>
</div>

<!-- Popular Sites -->
<div>
	<a href="{{ url_for('get_popular_sites') }}"
		><input class="pure-button" type="button" value="View Popular Sites"
	/></a>
</div>

<!-- Pushpin Search -->
<form action="" method="post" novalidate>
	{{ form.hidden_tag() }}
	<p>
		{{ form.search(size=32) }}<br />
		{% for error in form.search.errors %}
		<span style="color: red;">{{ error }}</span> {% endfor %}
		{{ form.submit() }}
	</p>
</form>
{% endblock %}
