{% extends "base.html" %}

{% block content %}
    <h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
    <hr>

    <h2>Recent Corkboard Updates</h2>
    <a href="{{ url_for('get_popular_tags') }}"><input type="button" value="Popular Tags"></a>
    {% for update in updates %}
    <div><p><a href="{{ url_for('get_corkboard') }}/{{ update.id }}">{{ update.title }}</a></p></div>
    {% endfor %}

    <h2>My Corkboards</h2>
    <a href="{{ url_for('add_corkboard') }}"><input type="button" value="Add Corkboard"></a>
    {% for corkboard in corkboards %}
    <div><p><a href="{{ url_for('get_corkboard') }}/{{ corkboard.id }}">{{ corkboard.title }}</a></p></div>
    {% endfor %}
    <hr>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.search(size=32) }}<br>
            {% for error in form.search.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}