{% extends "base.html" %} {% block content %}

<h2>{{ corkboard.owner_name }}'s Pushpin</h2>
<h4>
	Pinned {{ pushpin.time_added }} on
	<a href="{{ url_for('get_corkboard') }}/{{ corkboard_id }}">{{
		corkboard.title
	}}</a>
</h4>

<div class="pure-g corkboard-pushpin-container">
	<div class="pure-u-1-3 pushpin-container">
		<a href="{{ pushpin.image_link }}">
			<img
				class="pure-img"
				src="{{ pushpin.image_link }}"
				style="width:auto;height:auto;"
			/>
	</a>
	</div>
</div>

{% if permission %}
<a
	href="{{ url_for('like_unlike_pushpin', pushpin_id=pushpin.id, corkboard_id=corkboard_id) }}"
>
	{% if not liked %}
	<input
		type="button"
		class="pure-button pure-button-primary"
		value="Like"
	/>
	{% else %}
	<input
		type="button"
		class="pure-button pure-button-primary"
		value="Unlike"
	/>
	{% endif %}
</a>
{% endif %} {% if likes|length > 0 %}
<p>Other users like this post!</p>
<ul>
	{% for user in likes %}
	<li>{{ user.name }}</li>
	{% endfor %}
</ul>
{% endif %}

<h3>Description: {{ pushpin.description }}</h3>
<h3>Tags: {{ tags }}</h3>
<hr/>
<div>
	<form action="" method="post" novalidate class="pure-form">
		{{ comment_form.hidden_tag() }}
        <fieldset>
			{{ comment_form.comment_text(placeholder="Enter Comment") }}
			{% for error in comment_form.comment_text.errors %}
				<span class="pure-form-message">{{ error }}</span>
			{% endfor %}
			{{ comment_form.submit(class_="pure-button pure-button-primary") }}
        </fieldset>
	</form>
</div>
<table>
	{% for comment in comments %}
		<tr>
			<td style="height:40px; width:200px; margin:50px;">
				<b>{{ comment.user_name }}:</b>
			</td>
			<td style="height:40px; width:600px; margin:50px;">
				{{ comment.comment_text }}
			</td>
		</tr>
	{% endfor %}
</table>


{% endblock %}
