body {
	font-family: 'Quicksand', sans-serif;
}

.private-corkboard {
	color: lightcoral;
	font-size: 18px;
}

.corkboard-title {
	font-size: 25px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 4px;
}

.corkboard-title a {
	text-decoration: none;
	color: whitesmoke;
}

.corkboard-container {
	background-color: gray;
	border-radius: 5px;
	padding: 12px;
	color: whitesmoke;
	margin-bottom: 10px;
}

.corkboard-container a:visited {
	color: whitesmoke;
}

.page-subhead {
	font-size: 24px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
}

.subhead-container {
	display: inline-block;
}

.content-container {
	margin-bottom: 40px;
}
